# Trigger: jab bhi koi developer code ko feature ya main branch pe push karega to pipeline automatically run ho jayegi.

trigger: none


# pool: ye agent pool hai jo aapne configure kar rkha hai

pool:
  name: mademitech

# variables: agar aapne koi variable use kiye hain to wo niche defune karna

stages:
  - stage: CodeScan
    displayName: Code Scanning
    jobs:
      - job: InstallTfsec
        displayName: Install & Run TFSec
        steps:
        - task: Bash@3
          displayName: 
          continueOnError: true
          inputs:
            targetType: inline
            script: |
              curl -s https://raw.githubusercontent.com/aquasecurity/tfsec/master/scripts/install_linux.sh | bash
              tfsec --version
        - task: Bash@3
          displayName: Run TFSec
          continueOnError: true
          inputs:
            targetType: 'inline'
            script: |
              tfsec .  >> /home/mademi/reports/tfsec_scan_report.txt
      - job: CheckovScan
        dependsOn: InstallTfsec
        displayName: install & Run Checkov Scan
        steps:
          - task: Bash@3
            displayName: Install Checkov
            inputs:
              targetType: inline
              script: |
                sudo apt install python3.13-venv -y
                python3 -m venv checkov
                cd checkov
                source bin/activate
                pip3 install checkov
                sudo mv ./bin/checkov  /usr/bin/checkov
          - task: Bash@3
            continueOnError: true
            displayName: Run Checkov
            inputs:
              targetType: inline
              script: |
                checkov -d . --framework terraform >> /home/mademi/reports/checkov_scan_report.txt
      - job: InstallRunTFLint
        dependsOn: CheckovScan
        displayName: Install & Run TFLint Scan
        steps:
          - task: Bash@3
            displayName: Install TFLint
            inputs:
              targetType: inline
              script: |
                curl -s https://raw.githubusercontent.com/terraform-linters/tflint/master/install_linux.sh | bash
          - task: Bash@3
            continueOnError: true
            displayName: Run TFLint
            inputs:
              targetType: inline
              script: |
                tflint --recursive >> /home/mademi/reports/tflint_scan_report.txt