# Trigger: jab bhi koi developer code ko feature ya main branch pe push karega to pipeline automatically run ho jayegi.

trigger: none


# pool: ye agent pool hai jo aapne configure kar rkha hai

pool:
  name: mademitech

# variables: agar aapne koi variable use kiye hain to wo niche defune karna
variables:
  - name: WORK_DIR
    value: $(System.DefaultWorkingDirectory)/main

stages:
  # - stage: CodeScan
  #   displayName: Code Scanning
  #   jobs:
  #     - job: InstallTfsec
  #       displayName: Install & Run TFSec
  #       steps:
  #       - task: Bash@3
  #         displayName: Install TFSec
  #         continueOnError: true
  #         inputs:
  #           targetType: inline
  #           script: |
  #             curl -s https://raw.githubusercontent.com/aquasecurity/tfsec/master/scripts/install_linux.sh | bash
  #             tfsec --version
  #       - task: Bash@3
  #         displayName: Run TFSec
  #         continueOnError: true
  #         inputs:
  #           targetType: 'inline'
  #           script: |
  #             tfsec . | tee /home/mademi/reports/tfsec_scan_report.txt
  #     - job: CheckovScan
  #       dependsOn: InstallTfsec
  #       displayName: install & Run Checkov Scan
  #       steps:
  #         - task: Bash@3
  #           displayName: Install Checkov
  #           inputs:
  #             targetType: inline
  #             script: |
  #               sudo apt install python3.13-venv -y
  #               python3 -m venv checkov
  #               cd checkov
  #               source bin/activate
  #               pip3 install checkov
  #               sudo mv ./bin/checkov  /usr/bin/checkov
  #         - task: Bash@3
  #           continueOnError: true
  #           displayName: Run Checkov
  #           inputs:
  #             targetType: inline
  #             script: |
  #               checkov -d . --framework terraform | tee /home/mademi/reports/checkov_scan_report.txt
  #     - job: InstallRunTFLint
  #       dependsOn: CheckovScan
  #       displayName: Install & Run TFLint Scan
  #       steps:
  #         - task: Bash@3
  #           displayName: Install TFLint
  #           inputs:
  #             targetType: inline
  #             script: |
  #               curl -s https://raw.githubusercontent.com/terraform-linters/tflint/master/install_linux.sh | bash
  #         - task: Bash@3
  #           displayName: Run TFLint
  #           inputs:
  #             targetType: inline
  #             script: |
  #               tflint --recursive | tee /home/mademi/reports/tflint_scan_report.txt
  #     - job: InstallRunTerraScan
  #       displayName: Install & Run Terrascan
  #       steps:
  #         - task: Bash@3
  #           displayName: Install Terrascan
  #           inputs:
  #             targetType: inline
  #             script: |
  #                 curl -L "$(curl -s https://api.github.com/repos/tenable/terrascan/releases/latest | grep -o -E "https://.+?_Linux_x86_64.tar.gz")" > terrascan.tar.gz
  #                 tar -xf terrascan.tar.gz terrascan && rm terrascan.tar.gz
  #                 sudo install terrascan /usr/local/bin && rm terrascan
  #         - task: Bash@3
  #           displayName: Run TerraScan
  #           inputs:
  #             targetType: inline
  #             script: |
  #               terrascan scan -i terraform --severity Medium High | tee /home/mademi/reports/terrascan_report.txt
  # - stage: TerraTest
  #   dependsOn: CodeScan
  #   displayName: Terratest
  #   jobs:
  #     - job: Terratest
  #       displayName: Terratest
  #       steps:
  #         - task: Bash@3
  #           displayName: Setting Up Terratest 
  #           inputs:
  #             targetType: inline
  #             script: |
  #               cd /opt/ado-agent/_work/12/s/terratest
  #               pwd
  #               go mod init test
  #               go get github.com/gruntwork-io/terratest@v0.46.16
  #               go mod tidy
  #         - task: Bash@3
  #           displayName: Run Terratest
  #           inputs:
  #             targetType: inline
  #             script: |
  #               cd /opt/ado-agent/_work/12/s/terratest
  #               go test -v | tee  /home/mademi/reports/terratest_report.txt
  # - stage: InfraInitialize
  #   dependsOn: TerraTest
  #   displayName: Infra Initialize
  #   jobs:
  #   - job: TerraformInit
  #     displayName: Terraform Init
  #     steps:
  #     - task: TerraformTask@5
  #       displayName: Terraform Init
  #       inputs:
  #         provider: 'azurerm'
  #         command: 'init'
  #         workingDirectory: $(WORK_DIR)
  #         backendServiceArm: 'mademitech_spn'
  #         backendAzureRmResourceGroupName: 'mademi-rg'
  #         backendAzureRmStorageAccountName: 'mademistg'
  #         backendAzureRmContainerName: 'mademicontainer'
  #         backendAzureRmKey: 'infra1.mademi.tfstate'
  #   - job: TerraformValidate
  #     dependsOn: TerraformInit
  #     displayName: Terraform Validate
  #     steps:
  #     - task: TerraformTask@5
  #       displayName: Terraform Init
  #       inputs:
  #         provider: 'azurerm'
  #         command: 'init'
  #         workingDirectory: $(WORK_DIR)
  #         backendServiceArm: 'mademitech_spn'
  #         backendAzureRmResourceGroupName: 'mademi-rg'
  #         backendAzureRmStorageAccountName: 'mademistg'
  #         backendAzureRmContainerName: 'mademicontainer'
  #         backendAzureRmKey: 'infra1.mademi.tfstate'
  #     - task: TerraformTask@5
  #       displayName: Terraform Validate
  #       inputs:
  #         provider: 'azurerm'
  #         command: 'validate'
  #         workingDirectory: '$(WORK_DIR)'
  #   - job: TerraformPlan
  #     dependsOn: TerraformValidate
  #     displayName: Terraform Plan
  #     steps:
  #     - task: TerraformTask@5
  #       displayName: Terraform Init
  #       inputs:
  #         provider: 'azurerm'
  #         command: 'init'
  #         workingDirectory: $(WORK_DIR)
  #         backendServiceArm: 'mademitech_spn'
  #         backendAzureRmResourceGroupName: 'mademi-rg'
  #         backendAzureRmStorageAccountName: 'mademistg'
  #         backendAzureRmContainerName: 'mademicontainer'
  #         backendAzureRmKey: 'infra1.mademi.tfstate'
  #     - task: TerraformTask@5
  #       inputs:
  #         provider: 'azurerm'
  #         command: 'plan'
  #         workingDirectory: '$(WORK_DIR)'
  #         environmentServiceNameAzureRM: 'mademitech_spn'
  # - stage: FinOps
  #   dependsOn: InfraInitialize
  #   displayName: FinOps
  #   jobs:
  #     - job: InfraCost
  #       displayName: Infra Cost
  #       steps:
  #         - task: Bash@3
  #           displayName: Check Infra Cost
  #           inputs:
  #             targetType: inline
  #             script: |
  #               cd $(System.DefaultWorkingDirectory)
  #               pwd
  #               export INFRACOST_API_KEY="ico-QV2Rf1mTKil4jSPTOt8u2OCxaRxpJi5a"
  #               echo $INFRACOST_API_KEY
  #               infracost breakdown --path . | tee /home/mademi/reports/infracost.txt
  # - stage: ManualValidation
  #   dependsOn: FinOps
  #   displayName: Manual Validation
  #   jobs:
  #     - job: ManualValidation
  #       displayName: Manual Validation
  #       pool: server
  #       steps:
  #         - task: ManualValidation@0
  #           displayName: Manual Validation
  #           inputs:
  #             notifyUsers: 'deepak83s143@gmail.com'
  # - stage: InfraDeploymentOnAzure
  #   dependsOn: ManualValidation
  #   displayName: Infra Deploy On Azure
  #   jobs:
  #     - job: TerraformApply
  #       displayName: Terraform Apply
  #       steps:
  #       - task: TerraformTask@5
  #         displayName: Terraform Init
  #         inputs:
  #           provider: 'azurerm'
  #           command: 'init'
  #           workingDirectory: $(WORK_DIR)
  #           backendServiceArm: 'mademitech_spn'
  #           backendAzureRmResourceGroupName: 'mademi-rg'
  #           backendAzureRmStorageAccountName: 'mademistg'
  #           backendAzureRmContainerName: 'mademicontainer'
  #           backendAzureRmKey: 'infra1.mademi.tfstate'
  #       - task: TerraformTask@5
  #         displayName: Terraform Apply
  #         inputs:
  #           provider: 'azurerm'
  #           command: 'apply'
  #           workingDirectory: '$(System.DefaultWorkingDirectory)/main'
  #           commandOptions: '-auto-approve'
  #           environmentServiceNameAzureRM: 'mademitech_spn'
    - stage: SonarQubeScan
      displayName: SonarQube Scan
      jobs:
        - job: SonarQube
          displayName: SonarQube Analysis
          steps:

          - task: SonarQubePrepare@8
            displayName: Prepare SonarQube
            inputs:
              SonarQube: 'sonarspn'
              scannerMode: 'cli'
              configMode: 'manual'
              cliProjectKey: 'mademi-tech-app'
              cliProjectName: 'Mademi Tech App'
              cliSources: '.'
              extraProperties: |
                sonar.scm.disabled=true
          - task: SonarQubeAnalyze@8
            displayName: Run Analysis
            inputs:
              jdkversion: 'JAVA_HOME_17_X64'

          - task: SonarQubePublish@8
            displayName: Publish Quality Gate
            inputs:
              pollingTimeoutSec: '300'
