# Trigger: jab bhi koi developer code ko feature ya main branch pe push karega to pipeline automatically run ho jayegi.

trigger: none


# pool: ye agent pool hai jo aapne configure kar rkha hai

pool:
  name: mademitech

# variables: agar aapne koi variable use kiye hain to wo niche defune karna

stages:
  # - stage: CodeScan
  #   displayName: Code Scanning
  #   jobs:
    #   - job: InstallTfsec
    #     displayName: Install & Run TFSec
    #     steps:
    #     - task: Bash@3
    #       displayName: 
    #       continueOnError: true
    #       inputs:
    #         targetType: inline
    #         script: |
    #           curl -s https://raw.githubusercontent.com/aquasecurity/tfsec/master/scripts/install_linux.sh | bash
    #           tfsec --version
    #     - task: Bash@3
    #       displayName: Run TFSec
    #       continueOnError: true
    #       inputs:
    #         targetType: 'inline'
    #         script: |
    #           tfsec . | tee /home/mademi/reports/tfsec_scan_report.txt
    #   - job: CheckovScan
    #     dependsOn: InstallTfsec
    #     displayName: install & Run Checkov Scan
    #     steps:
    #       - task: Bash@3
    #         displayName: Install Checkov
    #         inputs:
    #           targetType: inline
    #           script: |
    #             sudo apt install python3.13-venv -y
    #             python3 -m venv checkov
    #             cd checkov
    #             source bin/activate
    #             pip3 install checkov
    #             sudo mv ./bin/checkov  /usr/bin/checkov
    #       - task: Bash@3
    #         continueOnError: true
    #         displayName: Run Checkov
    #         inputs:
    #           targetType: inline
    #           script: |
    #             checkov -d . --framework terraform | tee /home/mademi/reports/checkov_scan_report.txt
    #   - job: InstallRunTFLint
    #     dependsOn: CheckovScan
    #     displayName: Install & Run TFLint Scan
    #     steps:
    #       - task: Bash@3
    #         displayName: Install TFLint
    #         inputs:
    #           targetType: inline
    #           script: |
    #             curl -s https://raw.githubusercontent.com/terraform-linters/tflint/master/install_linux.sh | bash
    #       - task: Bash@3
    #         displayName: Run TFLint
    #         inputs:
    #           targetType: inline
    #           script: |
    #             tflint --recursive | tee /home/mademi/reports/tflint_scan_report.txt
      # - job: InstallRunTerraScan
      #   displayName: Install & Run Terrascan
      #   steps:
      #     - task: Bash@3
      #       displayName: Install Terrascan
      #       inputs:
      #         targetType: inline
      #         script: |
      #             curl -L "$(curl -s https://api.github.com/repos/tenable/terrascan/releases/latest | grep -o -E "https://.+?_Linux_x86_64.tar.gz")" > terrascan.tar.gz
      #             tar -xf terrascan.tar.gz terrascan && rm terrascan.tar.gz
      #             sudo install terrascan /usr/local/bin && rm terrascan
      #     - task: Bash@3
      #       displayName: Run TerraScan
      #       inputs:
      #         targetType: inline
      #         script: |
      #           terrascan scan -i terraform --severity Medium High | tee /home/mademi/reports/terrascan_report.txt
  - stage: TerraTest
    displayName: Terratest
    jobs:
      - job: Terratest
        displayName: Terratest
        steps:
          - task: Bash@3
            displayName: Terratest
            inputs:
              targetType: inline
              script: |
                cd /opt/ado-agent/_work/12/s/terratest
                pwd
                go mod init test
                go get github.com/gruntwork-io/terratest@v0.46.16
                go mod tidy
                go test -v | tee  /home/mademi/reports/terratest_report.txt
