# Trigger: jab bhi koi developer code ko feature ya main branch pe push karega to pipeline automatically run ho jayegi.

trigger: none


# pool: ye agent pool hai jo aapne configure kar rkha hai

pool:
  name: mademitech

# variables: agar aapne koi variable use kiye hain to wo niche defune karna

stages:
  - stage: CodeScan
    displayName: Code Scanning
    jobs:
      - job: CodeScanning
        displayName: Code Scanning
        steps:
        - task: Bash@3
          displayName: Install TFSec
          continueOnError: true
          inputs:
            targetType: inline
            script: |
              curl -s https://raw.githubusercontent.com/aquasecurity/tfsec/master/scripts/install_linux.sh | bash
              tfsec --version
        - task: Bash@3
          displayName: Run TFSec
          continueOnError: true
          inputs:
            targetType: 'inline'
            script: |
              tfsec .
              